n8n/chat_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "descubresucre",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1360,
        352
      ],
      "id": "fc52dd24-f3cc-443f-a21b-281948156632",
      "name": "Webhook",
      "webhookId": "e796510a-37b0-488c-aea6-b3a6548f3671"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-n8n-secret",
              "value": "={{ $('Webhook').item.json.body.secret }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jobId",
              "value": "={{ $('Webhook').item.json.body.jobId }}"
            },
            {
              "name": "reply",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        352
      ],
      "id": "06223de2-5562-460d-9974-0ab15d586586",
      "name": "Callback"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.messages[$json.body.messages.length - 1].content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1568,
        352
      ],
      "id": "292b4f9d-88a9-48e1-9d02-5584d34fc028",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1520,
        576
      ],
      "id": "1d5dd1ac-b1a3-43cf-a139-acb09b7592d1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SbcMlPN1ftw4m5gX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9afe5885a72b68d8833fbe4449fd1a8683c4bdc4f20a3152a236e976ddae52be"
  }
}